<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
           "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BalanceMapper">

    <select id="findByEmail" resultType="com.example.demo.vo.BalanceVO">
        SELECT
            "receipt_idx" AS receiptIdx,
            "email",
            "point",
            "cash"
        FROM
            "balance"
        WHERE
            "email" = #{email}
    </select>
    
    <!-- 포인트 차감 -->
    <update id="decreasePoint">
        UPDATE "balance"
        SET "point" = "point" - #{amount}
        WHERE "email" = #{email}
        AND "point" >= #{amount}
    </update>
    
    <!-- 포인트 증가 -->
    <update id="increasePoint">
        UPDATE "balance"
        SET "point" = "point" + #{amount}
        WHERE "email" = #{email}
    </update>
    
    <!-- 캐시 차감 -->
    <update id="decreaseCash">
        UPDATE "balance"
        SET "cash" = "cash" - #{amount}
        WHERE "email" = #{email}
        AND "cash" >= #{amount}
    </update>
    
    <!-- 캐시 증가 -->
    <update id="increaseCash">
        UPDATE "balance"
        SET "cash" = "cash" + #{amount}
        WHERE "email" = #{email}
    </update>

</mapper>