<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.GameMapper">

<!-- 모든 maps 불러오기 -->
<select id="getAllmaps" parameterType="String" resultType="com.example.demo.vo.MapsVO">
SELECT *
FROM "maps"
</select>

<!-- 클리어한 모든 maps 불러오기-->
<select id="getClearedMaps" parameterType="String" resultType="com.example.demo.vo.MapsVO">
SELECT "maps"."map_idx", "maps"."game_idx", "maps"."map_title", DBMS_LOB.SUBSTR("maps"."map_desc", 4000, 1), "maps"."map_theme", "maps"."created_at" 
FROM "maps" 
WHERE NOT EXISTS (
  SELECT 1 FROM "stages" JOIN "game_clear" ON "stages"."stage_idx" = "game_clear"."stage_idx" 
  WHERE "stages"."map_idx" = "maps"."map_idx" AND "game_clear"."email" = #{email} AND "game_clear"."success_yn" = 'N'
)
</select>

<!-- 맵 상세 조회 > 선택한 맵 만 조회-->
<select id="getMap" resultType="com.example.demo.vo.MapsVO">
        SELECT "map_idx","game_idx","map_title","map_desc","map_theme","created_at"
		  FROM "maps"
		  WHERE "map_idx" = #{map_idx}
    </select>
    
<!-- 선택한 map의 모든 stages 불러오기, clear한 stages 제외 -->
    <select id="getAllStages" resultType="com.example.demo.vo.StagesVO">
SELECT *
  FROM "stages"
  WHERE "stages"."map_idx" = #{map_idx}
    </select>
    
<!-- 클리어한 모든 stages 불러오기-->
<select id="getClearedStages" resultType="com.example.demo.vo.StagesVO">
SELECT *
FROM "stages"
JOIN "game_clear" ON "stages"."stage_idx" = "game_clear"."stage_idx"
                 AND "game_clear"."email" = #{email}
WHERE "stages"."map_idx" = #{map_idx}
  AND "game_clear"."success_yn" = 'Y'
</select>
    
<!-- 스테이지 상세 조회 > 선택한 스테이지 만 조회-->
    <select id="getStage" resultType="com.example.demo.vo.StagesVO">
    SELECT *
  FROM "stages"
  WHERE "stage_idx" = #{stage_idx}
    </select>
    
    <!-- 해당 스테이지 오염물 조회 -->
    <select id="getAllPollutions" resultType="com.example.demo.vo.StagePolutionsVO">
    SELECT *
    FROM "stage_pollutions"
    WHERE "stage_idx" = #{stageIdx}
    </select>
    
    <!-- 게임 시작 sql 문 -->
    <insert id="gameStart" parameterType="com.example.demo.vo.UserPlayVO">
    INSERT INTO "user_play"(
	"email",
	"stage_idx",
	"created_at"
	) VALUES (
	#{email},
	#{stage_idx},
	SYSDATE
	)
    </insert>
    
    
    
    
    
<!-- 켐페인 전체 조회 -->
    <select id="getAllCampaigns" parameterType="long" resultType="com.example.demo.vo.CampaignsVO">
	SELECT "campaigns"."campaign_idx", "campaigns"."map_idx", "campaigns"."campaign_title",
	 "campaigns"."campaign_desc", "campaigns"."campaign_url", "campaigns"."started_at", "campaigns"."closed_at", "campaigns"."created_at"
	FROM "campaigns"
	WHERE "campaigns"."map_idx" = #{map_idx}
    </select>
<!-- 켐페인 선택 조회 -->
	<select id="getCampaign" parameterType="map" resultType="com.example.demo.vo.CampaignsVO">
	select "campaigns"."campaign_idx", "campaigns"."map_idx", "campaigns"."campaign_title",
	 "campaigns"."campaign_desc", "campaigns"."campaign_url", "campaigns"."started_at", "campaigns"."closed_at", "campaigns"."created_at"
	from "campaigns"
	JOIN "maps" ON "campaigns"."map_idx" = "maps"."map_idx"
	where "campaigns"."map_idx" = #{map_idx} and "campaigns"."campaign_idx" = #{campaign_idx}
	</select>

</mapper>