<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.GamePlayMapper">

<!-- 스킨 업데이트 -->
<update id="patchSkin">
	UPDATE "user_skins"
	SET "uskin_idx" = #{param1}
	WHERE "email" = #{param2}
</update>


<!-- 스테이지 클리어 후 stageClear에 정보 입력. -->
<insert id="stageClear">
	INSERT INTO "game_clear" (
		"stage_idx",
		"email",
		"success_yn",
		"created_at"
	) VALUES (
		#{param1},
		#{param2},
		#{param3},
		SYSDATE
	)
</insert>

<!-- 보상 수령 (포인트) -->
<update id="postPointReward">
	UPDATE "balance" 
	SET   "point" = "point" + #{param2}
	WHERE "email" = #{param1}
</update>


</mapper>