<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.GamePlayMapper">





<insert id="stageClear" parameterType="com.example.demo.dto.StageClearDTO">
	INSERT INTO "stages" (
		"stage_idx",
		"map_idx",
		"stage_name",
		"stage_mission",
		"is_final_stage",
		"stage_step",
		"created_at"
	) VALUES (
		#{stageIdx},
		#{mapIdx},
		#{stageName},
		#{stageMission},
		#{isFinalStage},
		#{stageStep},
		#{createdAt}
	)
</insert>

    <select id="getstageStatus" resultType="com.example.demo.vo.StagesVO">
    SELECT *
  FROM "stages"
  WHERE "stage_idx" = #{stage_idx}
    </select>

</mapper>