<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.GameMapper">

    <!-- 게임 시작 sql 문 -->
    <insert id="gameStart" parameterType="com.example.demo.vo.UserPlayVO">
    INSERT INTO "user_play"(
	"email",
	"stage_idx",
	"created_at"
	) VALUES (
	#{email},
	#{stageIdx},
	SYSDATE
	)
    </insert>
    
    <!-- 게임 시작시 해당 stage의 오염물 가져오기 -->
    <select id="getStagePollutions" resultType="com.example.demo.vo.StagePolutionsVO">
    SELECT *
    FROM "stage_pollutions"
    JOIN "stages" ON "stage_pollutions"."stage_idx" = "stages"."stage_idx"
    WHERE "stage_pollutions"."stage_idx" = #{stageIdx}
    </select>
    
</mapper>